{% extends "layout.html" %}

{% block title %}
    Sources
{% endblock %}

{% block main %}
    <div>
        <h1 style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">References</h1>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Babson: https://www.babson.edu/emergency-preparedness/return-to-campus/covid-dashboard/</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Bentley: https://www.bentley.edu/backtobentley/dashboard</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Berklee", https://www.berklee.edu/btb/dashboard</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">BU: https://www.bu.edu/healthway/community-dashboard/</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Emerson: https://www.emerson.edu/one-emerson/dashboard</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Harvard: https://www.harvard.edu/coronavirus/testing-tracing/harvard-university-wide-covid-19-testing-dashboard/</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">MIT: https://covidapps.mit.edu/dashboard</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Northeastern: https://news.northeastern.edu/coronavirus/reopening/testing-dashboard/</p>
        <p style="background-color: #f7f0eb; margin-left: 240px; margin-right: 240px;">Towns: https://www.brandeis.edu/covid-19/dashboard.html</p>
    </div>
    
{% endblock %}